$haden-yellow: #bda37b;
$primary: #4a5cc5;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #0d0d1d;

.XPagination {
  background: $gray-100;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
  z-index: 1000;

  &-Inner {
    padding: 1rem;
    display: flex;
    align-items: center;
  }
}

.XPaginationPopover {
  max-width: 480px;

  .haden-popover-inner-content {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }

  &-page-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: 5px;
      margin-bottom: 5px;

      button {
        background: transparent;
        display: block;
        padding: 2px 5px;
        border-radius: 4px;
        border: 1px solid $gray-200;
        width: 30px;
        text-align: center;
        color: $gray-900;

        &:hover {
          color: $primary;
          border-color: $primary;
        }

        &:active {
          background: $primary;
          color: $white;
        }
      }

      &.active {
        button {
          color: $primary;
          border-color: $primary;
        }
      }
    }
  }
}

